body{
  background-image: linear-gradient(120deg, #2BFFFA, #2B99FF);
  color: white;
  
  font-family: arial;
  
  /*display: flex;
  align-items: center;*/
  justify-content: center;
}

#clock{
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  font-size: 80px;
  
  /*width: 200px;*/
  /*height: 1500px;*/
  margin-top: 550px;
  /*background-color: black;*/
}

#hour{
  border-style: none;
  border-radius: 15px;
  
  padding: 30px;
  margin: 30px;
  padding-top: 115px;
  
  text-align: center;
  
  width: 160px;
  height: 200px;
  
  box-shadow: 3px 3px 10px 10px rgba(30, 30, 30, 0.05);
  
  background-color: rgba(255, 255, 255, 0.5);/*black;*/
}

#min{
  border-style: none;
  border-radius: 15px;
  
  padding: 30px;
  margin: 30px;
  padding-top: 115px;
  
  text-align: center;
  
  width: 160px;
  height: 200px;
  
  box-shadow: 3px 3px 10px 10px rgba(30, 30, 30, 0.05);
  
  background-color: rgba(255, 255, 255, 0.5);
}

#sec{
  border-style: none;
  border-radius: 15px;
  
  padding: 30px;
  margin: 30px;
  padding-top: 115px;
  
  text-align: center;
  
  width: 160px;
  height: 200px;
  
  box-shadow: 3px 3px 10px 10px rgba(30, 30, 30, 0.05);
  
  background-color: rgba(255, 255, 255, 0.5);
}

p{font-size: 40px}

#date{
  border-style: none;
  border-radius: 15px;
  
  padding: 30px;
  /*padding-top: 115px;*/
  
  /*width: 160px;*/
  background-color: rgba(255, 255, 255, 0.5);
  
  box-shadow: 3px 3px 10px 10px rgba(30, 30, 30, 0.05);
  
  margin: 60px;
  margin-top: 30px;
  text-align: center;
  /*height: 1700px;*/
}
